<div class="animated fadeIn">
        <br>
        <div class="row">
                <div class="col">
                        <div class="rich-text">
                                <h4>Estadisticas</h4>
                        </div>
                </div>
        </div>

        <div class="row">
                <div class="col">
                        <barchart #averageAnnualRentChart 
                                [values]="averageAnnualRent" 
                                [title]="'Promedio de Renta Anual por agente'" 
                                [field]="'annualRent'" 
                                [category]="'name'">
                        </barchart>
                </div>

                <div class="col">
                        <linechart #progressAnnualRentChart 
                                [values]="progressAnnualRent" 
                                [title]="'Progreso de Renta Anual por agente'" 
                                [field]="'value'" 
                                [category]="'name'"
                                [agents]="agents">
                        </linechart>
                </div>
        </div>
</div>