<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
        <li class="nav-item p-x-1 active">
            <a class="nav-link" [routerLink]="['/introduction']">Introduccion</a>
        </li>
        <li class="nav-item p-x-1">
            <a class="nav-link" href="#">Compañias</a>
        </li>
        <li class="nav-item p-x-1">
            <a class="nav-link" href="#">Estadisticas</a>
        </li>
        <li class="nav-item p-x-1">
            <a class="nav-link" href="#">Ayuda</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title">
                    <button class="btn btn-block btn-primary btn-sm" (click)="add(addEditAgent)"><i class="fa fa-plus"></i>&nbsp; Agregar</button>
                </li>
                <li class="nav-title">
                    <i class="fa fa-line-chart"></i>&nbsp;&nbsp;&nbsp;Agentes
                </li>
                <li class="nav-item" *ngFor="let a of agents">
                    <div class="row">
                        <div class="col-7">                        
                            <a [routerLink]="['/dashboard', a.id]"><i class="fa fa-tag"></i> {{ a.name + ' - (' + a.stockExchange.symbol + ')' }}</a>
                        </div>
                        <div class="col">
                            <span class="agent-ops pull-rigth">
                                <button class="btn btn-link btn-agent-ops" (click)="edit(addEditAgent, a)"><i class="fa fa-edit agent-ops-icons"></i></button>
                                <button class="btn btn-link btn-agent-ops" (click)="confirmElimination(removeConfirmation, a)"><i class="fa fa-trash agent-ops-icons"></i></button>
                            </span>          
                        </div>
                    </div>          
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>
<footer class="app-footer">
    <a href="https://github.com/jcaramello/deepQ-stock/" target="_blank">deepQ Stock</a> &copy; 2017.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer>


<div bsModal #addEditAgent="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="addEditAgent"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-tag"></i> {{ currentAgent && currentAgent.id > 0 ? 'Editar' : 'Nuevo'}} Agente</h4>
                <button type="button" class="close" aria-label="Close" (click)="addEditAgent.hide()">
                    <span aria-hidden="true">&times;</span>`
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <tabset>
                        <tab heading="Agente">
                            <div class="row">
                                <div class="col">
                                    <label for="name">Nombre</label>
                                    <input id="name" type="text" class="form-control has-danger" [(ngModel)]="currentAgent.name" required>
                                </div>
                                <div class="col">
                                    <br>
                                    <label for="eGreedy">ε-greedy policy</label>
                                    <md-slider id="eGreedy" [max]="1" [min]="0" [step]="0.1" [thumb-label]="true" [(ngModel)]="currentAgent.eGreedyProbability"></md-slider>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="discountFactor">Factor de descuento</label>
                                    <md-slider id="discountFactor" [max]="1" [min]="0" [step]="0.1" [thumb-label]="true" [(ngModel)]="currentAgent.discountFactor"></md-slider>
                                </div>
                                <div class="col">
                                    <label for="inOutStrategy">Estrategia de Entrada/Salida</label>
                                    <md-slider id="inOutStrategy" [max]="1" [min]="0" [step]="0.1" [thumb-label]="true" [(ngModel)]="currentAgent.inOutStrategy"></md-slider>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="miniBatchSize">Tamaño del mini batch</label>
                                    <input id="miniBatchSize" type="number" class="form-control" [(ngModel)]="currentAgent.miniBatchSize" required>
                                </div>
                                <div class="col">
                                    <label for="memoryReplaySize">Tamaño de la memoria de entrenamiento</label>
                                    <input id="memoryReplaySize" type="number" class="form-control" [(ngModel)]="currentAgent.memoryReplaySize" required>
                                </div>
                            </div>


                        </tab>
                        <tab heading="Q-Network">
                            <div class="row">
                                <div class="col">
                                    <label for="hiddenLayersCount">Numero de hidden layers</label>
                                    <input id="hiddenLayersCount" type="number" class="form-control" [(ngModel)]="currentAgent.qNetwork.hiddenLayersCount" required>
                                </div>
                                <div class="col">
                                    <label for="neuronCountForHiddenLayers">Numero de neuronas por capa</label>
                                    <input id="neuronCountForHiddenLayers" type="number" class="form-control" [(ngModel)]="currentAgent.qNetwork.neuronCountForHiddenLayers"
                                        required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="activationFcForHiddenLayers">Funcion de activacion (Hidden Layers)</label>
                                    <select class="form-control" id="activationFcForHiddenLayers" [(ngModel)]="currentAgent.qNetwork.activationFcForHiddenLayers">
                                        <option ngValue="tanh">Tangente Hiperbolica</option>
                                        <option ngValue="sigmoid">Sigmoid</option>
                                        <option ngValue="linear">Lineal</option>
                                     </select>
                                </div>
                                <div class="col">
                                    <label for="activationFcForOuputLayer">Funcion de activacion (Ouput Layer)</label>
                                    <select class="form-control" id="activationFcForOuputLayer" [(ngModel)]="currentAgent.qNetwork.activationFcForOuputLayer">
                                        <option ngValue="tanh">Tangente Hiperbolica</option>
                                        <option ngValue="sigmoid">Sigmoid</option>
                                        <option ngValue="linear">Lineal</option>
                                     </select>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Mercado de valores">
                            <div class="row">
                                <div class="col">
                                    <label for="symbol">Compañia</label>
                                    <select class="form-control" id="state" [(ngModel)]="currentStock.symbol">
                                        <option *ngFor="let c of companies" ngValue="{{ c.symbol }}">
                                            {{c.name}}
                                        </option>
                                     </select>
                                </div>
                                <div class="col">
                                    <label for="episodeLength">Longuitud de episodio</label>
                                    <input id="episodeLength" type="number" class="form-control" [(ngModel)]="currentStock.episodeLength" required>
                                </div>
                                <div class="col">
                                    <label for="numberOfPeriods">Numero de periodos</label>
                                    <input id="numberOfPeriods" type="number" class="form-control" [(ngModel)]="currentStock.numberOfPeriods" required>
                                </div>
                                <div class="col">
                                    <label for="initialCapital">Capital inicial</label>
                                    <input id="initialCapital" type="number" class="form-control" [(ngModel)]="currentStock.initialCapital" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="transactionCost">Costo de transaccion</label>
                                    <md-slider id="transactionCost" [max]="1" [min]="0" [step]="0.1" [thumb-label]="true" [(ngModel)]="currentStock.transactionCost"></md-slider>
                                </div>
                                <div class="col">
                                    <label for="simulationVelocity">Velocidad de simulacion</label>
                                    <md-slider id="simulationVelocity" [max]="5" [min]="0.2" [step]="0.1" [thumb-label]="true" [(ngModel)]="currentStock.simulationVelocityType"></md-slider>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="save(addEditAgent)">Guardar</button>
                <button type="button" class="btn btn-secondary" (click)="addEditAgent.hide()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #removeConfirmation="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="removeConfirmation"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar agente</h4>                
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar el agente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="remove(removeConfirmation)">Eliminar</button>
                <button type="button" class="btn btn-secondary" (click)="removeConfirmation.hide()">Cancelar</button>
            </div>
        </div>
    </div>
</div>