// Here you can add other styles
.p-l-1, .p-x-1 {
    padding-left: 1rem!important;
}

.p-r-1, .p-x-1 {
    padding-right: 1rem!important;
}

.candlestick-container{
    width: 100%;
    height: 100%;
}